@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: rgba(17, 18, 19, 1);;
  background: var(--background);
  background-color: #f3f3f3;
  font-family: Garamond, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
}
